/*Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;900&display=swap');

@font-face {
	font-family: 'Agency FB';
	src: url(fonts/agencyfb-black.ttf);
}

* {
	margin: 0px;
}

a {
	color: inherit;
    text-decoration: none;
}

#grid_container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

header {
	grid-column: 1;
  	grid-row: 1;
}

#nav_list {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
	display: flex;
    justify-content: flex-end;
	align-items: center;
	margin-right: 6%;
    margin-left: 6%;
}

#nav_list li {
	padding: 20px;
}

#nav_list li:first-child {
	margin-right: auto;
}

#logo {
	width: 56px;
	height: 56px;
	padding: 4px;
	cursor: pointer;
	user-select: none;
}

main {
	grid-column: 1;
	grid-row: 2;
}

#loading {
	width: fit-content;
	margin: 20px auto 0px auto;
	font-family: 'Outfit', sans-serif;
}

object {
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

#home_content {
	margin: auto;
	margin-top: max(150px, 20vh);
	margin-bottom: 50px;
	width: 50%;
	animation: slideIn 0.3s ease-in-out 0s 1;
}

#name {
	font-size: 4em;
}

#name span {
	font-family: 'Agency FB', sans-serif;
	font-weight: 900;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	background-color: rgb(39, 39, 39);
	background-image: linear-gradient(90deg, rgb(0, 252, 190), rgb(35, 206, 227));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#description {
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 1.05em;
	color: rgb(150, 150, 150);
	padding: 15px;
	max-width: 600px;
}

#menu_content {
	display: none;
	align-self: center;
	grid-column: 1;
  	grid-row: 2;
}

#menu_elements {
	margin: 10vh auto 10vh auto;
	width: 76vw;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 320px);
	animation: slideIn 0.3s ease-in-out 0s 1;
}

.menu_item {
	background-repeat: no-repeat;
	background-color: white;
	position: relative;
	grid-row: auto;
	margin: 0px 40px 40px 40px;
	border-radius: 26px;
	padding: 12px;
	height: 300px;
	color: #333;
	display: flex;
	flex-direction: column;
	font-family: 'Outfit', sans-serif;
	box-sizing: border-box;
	box-shadow: 0px 8px 22px -10px rgba(0, 0, 0, 0.045),
  		0px 8px 30px -10px rgba(0, 0, 0, 0.09);
	transform: scale(100%);
	transition-property: box-shadow, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
}
.menu_item:nth-child(odd) {
	background-image: url("../res/backgrounds/menu1.svg");
}
.menu_item:nth-child(even) {
	background-image: url("../res/backgrounds/menu2.svg");
}
.menu_item:hover {
	box-shadow: 0px 8px 24px -10px rgba(0, 0, 0, 0.09),
  		0px 8px 34px -10px rgba(0, 0, 0, 0.185);
	transform: scale(105%);
	cursor: pointer;
}
.menu_item_head {
	text-align: center;
}
.menu_item_head i {
	font-size: 5em;
	color: white;
	padding-top: 20px;
}

.menu_item > div {
	flex-basis: 50%;
}

.menu_item_text h2 {
	font-size: 1.2em;
}
.menu_item_text > div {
	padding: 4px;
	color: rgb(150, 150, 150);
	word-wrap: break-word;
	overflow: hidden;
}

footer {
	display: flex;
	flex-direction: row-reverse;
	place-items: center;
	flex-wrap: wrap;
	align-items: space-between;
	grid-column: 1;
  	grid-row: 3;
}

footer span {
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	float: left;
	margin-left: 3em;
	color: rgb(150, 150, 150);
}

#social_icons {
	display: flex;
	margin-right: 3em;	
	margin-left: auto;
	padding-bottom: 28px;
	padding-top: 28px;
}

#social_icons i {
	padding: 12px;
	font-size: 2em;
	
	cursor: pointer;

	background-image: linear-gradient(45deg, rgba(0, 252, 190) 0%, rgba(35, 206, 227) 50%, rgb(0, 0, 0) 50%);
	background-size: 220%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	transition-property: background-position-x, transform;
	transition-duration: 175ms;
	transition-timing-function: ease-in-out;
}
#social_icons div:not(:first-child) {
	margin-left: 16px;
}

#social_icons i:hover {
	background-position-x: 100%;
	transform: scale(125%);
}

#menu_container {
	display: inline-block;
	cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
	width: 48px;
	height: 5px;
	background-color: #333;
	margin: 10px 0 0 0;
	transition: transform 0.15s;
}

#stream_schedule_button {
	margin-left: 17px;
	margin-top: 15px;
}

.button_container {
	width: fit-content;
	border-radius: 1000px;
	position: relative;
}
.button_container::before {
	border-radius: 1000px;
	content: "";
	background-image: linear-gradient(90deg, rgb(0, 252, 190), rgb(35, 206, 227));
	padding: 2px;
	width: 100%;
	height: 100%;
	top: -2px;
	left: -2px;
	position: absolute;
	z-index: 0;
	transition: box-shadow 220ms ease-in-out;
}
.button_container:hover::before {
	box-shadow: 0px 6px 18px -8px rgba(0, 252, 190, 0.4),
  		0px 6px 30px -8px rgba(0, 252, 190, 0.4);
}
.button_container:active {
	transition: transform 0ms linear;
	transform: scale(97%);
}
.button {
	font-family: 'Outfit', sans-serif;
	font-weight: 500;
	font-size: 1.1em;
	padding: 10px 25px 10px 25px;
	border-radius: 1000px;
	position: relative;
	background-color: transparent;
	border: none;
	overflow: hidden;
	cursor: pointer;
	color: #333;
	z-index: 0;
}
.button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
	transition: transform 220ms ease-in-out;
}
.button:hover::before {
	transform: translateX(101%);
}
.button:hover span {
	background-position-x: 0%;
}
.button span {
	background-color: rgb(0, 252, 190);
	background-image: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(0, 252, 190) 50%, rgb(35, 206, 227) 100%);
	background-size: 201%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-position-x: 100%;
	transition: background-position-x 220ms ease-in-out;
}

@keyframes slideIn {
	0% {
		opacity: 0%;
		transform: translateX(-30px);
	}
	70%  {
		transform: translateX(0px);
	}
	100% {
		opacity: 100%;
	}
}